.self{
    height: 70px;
    font-size: 30px;
}
.mid {
    margin-top: 30px;
}
.photo {
    z-index: 2;
    transform: translate(205px,-20px);
    border-radius: 50%;
}
.self_pt {
    height: 10px;
    font-size: 30px;
}
/* .former {
    size: 50px;
} */